body {
    color: white;
    background-color: black;
    background-image: url(https://4kwallpapers.com/images/wallpapers/cristiano-ronaldo-1920x1080-17331.jpg);
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: red;
    text-decoration: none; 
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid black;
}

.center {
    text-align: center;
}

footer {
    text-align: center;
    justify-content: center;
    align-items: center;
}
.instagram{
    margin: 10px;
    width: 9vh;
    height: 9vh;
    border: none;
    border-radius: 9px;
}
.youtube{
    margin: 10px;
    width: 9vh;
    height: 9vh;
    border: none;
    border-radius: 9px;
}

h1 {
    color: red;
}

h2 {
    color: red;
}

h3 {
    color: red;
}

footer img {
    width: 40px;
    height: 40px;
}


footer {
    display: flex;
    justify-content: center;
}


footer p {
    margin-top: 2px;
}


footer a {
   margin: 20px;
   text-align: center;
}


footer p {
    margin-top: 2px;
}


.container {
    padding: 0px 50px;
}


nav a:hover {
    color: white;
}
